
<div class="TOP">
    <%= image_tag "top2.png", class:"rara" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&family=Yellowtail&display=swap" rel="stylesheet">
    <div class="TOPtitle">
        <h1>How Do You <br>Like It...?</h1>
    </div>

    <div class="DATE">
        <hr size="1" >
    </div>

    <div class="THEME">
        <ul>
            <li>FOR</li>
            <h2>
                <p>International Job Seekers</p>
                <li>×</li>
                <p>International Workers</p>
            </h2>
        </ul>
    </div>
    <div class="CONCEPT">
        <div class="CONCEPTtitle">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Kranky&family=Yellowtail&display=swap" rel="stylesheet">
            <h1>CONCEPT</h1>
            <p><%= image_tag "book.png", class:"coco", size:"550×550" %></p>
        </div>
        <div class="CONCEPTdetail">
            <h2>
                <ul>
                    <li>Platform for Sharing/Asking about</li>
                    <li>Job Information in YOUR Language</li>
                </ul>
            </h2>
            <ul>
                <li>日本企業は労働力不足に陥っています。</li>
                <li>そんな中、日本の在留外国人は増加しており、2022年には、初めて300万人を超えました。<li>
                <li>日本出身でなくても優秀な人は多いため、国籍や言語にかかわらずそうした人を採用することが<li>
                <li>企業にとって成長のカギとなります。<li>
                <li>しかし日本の就職活動は複雑なうえ、<br>内定を取るために必要な情報に外国語ではアクセスしにくいです。</li>
                <li>採用側と求職者側、両方に不利となる問題を解消するサービスはまだ多くはありません。</li>
                <li>このサイトは、国際的な人々にとって、日本という外国での就職活動の支えとなれるよう、</li>
                <li>同じ国出身の人・同じ言語を話す人など、信頼できる人と情報共有ができる場所を提供します。</li>
                <li>行きたい企業で働く人に、「その企業はどうですか？」と聞いてみませんか？</li>
            <ul>
        </div>
    </div>

    <br>
    <div class="LINEUP">
        <div class="LINEUPtitle">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Kranky&family=Yellowtail&display=swap" rel="stylesheet">
            <hr size="1" >
            <h1>LINEUP</h1>
        </div>
        <br>
        <div class="LINEUPdetails">
            <ul>
                <li><%= link_to "#NTT DATA", "/tweets/2", method: :get %></li>
                <li><%= image_tag "NTT data.png", size:"250x300", class:"LINEUPpics" %></li>
            </ul>
            <ul>
                <li><%= link_to "#NINTENDO", "/tweets/3", method: :get %></li>
                <li><%= image_tag "nintendo pic.png", size:"250x300", class:"LINEUPpics" %></li>
            </ul>
            <ul>
                <li><%= link_to "#Oriental Land Co.", "/tweets/4", method: :get %></li>
                <li><%= image_tag "OLC co.png", size:"250x300", class:"LINEUPpics" %></li>
            </ul>
            <ul>
                <li><%= link_to "#PANASONIC HOLDINGS", "/tweets/5", method: :get %></li>
                <li><%= image_tag "panasonic.png", size:"250x300", class:"LINEUPpics" %></li>
            </ul>
            <ul>
                <li><%= link_to "#SAPPORO", "/tweets/6", method: :get %></li>
                <li><%= image_tag "sapporo.png", size:"250x300", class:"LINEUPpics" %></li>
            </ul>
            <ul>
                <li><%= link_to "#SOFTBANK", "/tweets/7", method: :get %></li>
                <li><%= image_tag "softbank.png", size:"250x300", class:"LINEUPpics", class:"LINEUPpics" %></li>
            </ul>
        </div>

        <div class="SEEMORE">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
            <a href="https://howdoyoulikeit.onrender.com/tweets" class="btn btn-border01">#SEE MORE</a>
        </div>
    </div>

</div>